@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Pangolin&display=swap');

/*
font-family: 'Chango', cursive;
font-family: 'Pangolin', cursive;
*/

body {
  font-family: 'Pangolin', cursive;
  box-sizing: border-box;
}
